flow/Microsoft.Flow/flows/1251e752-7e2b-4d7c-ae67-beacf87f4eaa/definition.json
{"name":"085916b5-8b40-4a76-8b6c-ae30076dcba0","id":"/providers/Microsoft.Flow/flows/085916b5-8b40-4a76-8b6c-ae30076dcba0","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Onboarding Checker","definition":{"metadata":{"workflowEntityId":null,"creator":{"id":"7b011cb1-7e99-41a2-a1c8-667b4941fb4f","type":"User","tenantId":"3a4734f3-4f07-4e48-8b94-5d69837b3204"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2018-12-30T02:38:11.4782978Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Http","inputs":{"schema":{"$schema":"http://json-schema.org/draft-04/schema#","type":"object","properties":{"userAccessToken":{"type":"string"},"upn":{"type":"string"}},"required":["userAccessToken","upn"]},"method":"POST"}}},"actions":{"Check_if_Internal_User":{"actions":{"GetDomains":{"runAfter":{},"type":"Http","inputs":{"method":"GET","uri":"https://graph.microsoft.com/beta/domains","headers":{"Authorization":"Bearer @{triggerBody()['userAccessToken']}","Content-Type":"application/json;odata.metadata=minimal","Accept":"application/json;odata.metadata=minimal"}}},"Foreach_domain":{"foreach":"@actionBody('GetDomains').value","actions":{"If_Tenant_Domain_is_User_Domain":{"actions":{"Set_IsInternalUser_to_true":{"runAfter":{},"type":"SetVariable","inputs":{"name":"IsInternalUser","value":"@true"}}},"runAfter":{"Set_CurrentDomain":["Succeeded"]},"expression":"@equals(variables('CurrentDomain'), variables('UserDomain'))","type":"If"},"Set_CurrentDomain":{"runAfter":{},"type":"SetVariable","inputs":{"name":"CurrentDomain","value":"@{item().id}"}}},"runAfter":{"GetDomains":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Initialize_IsInternalUser":["Succeeded"]},"type":"Scope"},"If_Legitimate_User":{"actions":{"Check_and_Send_B2B_User_Status":{"actions":{"GetUser":{"runAfter":{},"type":"Http","inputs":{"method":"GET","uri":"https://graph.microsoft.com/beta/users?$filter=mail eq '@{triggerBody()?['upn']}' or userPrincipalName eq '@{triggerBody()?['upn']}'","headers":{"Authorization":"Bearer @{triggerBody()['userAccessToken']}","Content-Type":"application/json;odata.metadata=minimal","Accept":"application/json;odata.metadata=minimal"}}},"If_user_exists":{"actions":{"Switch":{"runAfter":{"Set_ExternalUserStatus":["Succeeded"]},"cases":{"Case":{"case":"PendingAcceptance","actions":{"SendPendingAcceptance":{"runAfter":{},"type":"Response","kind":"Http","inputs":{"statusCode":200,"body":{"Email":"@{triggerBody()?['upn']}","Status":"3"}}}}},"Case_2":{"case":"Accepted","actions":{"SendAccepted":{"runAfter":{},"type":"Response","kind":"Http","inputs":{"statusCode":200,"body":{"Email":"@{triggerBody()?['upn']}","Status":"4"}}}}}},"default":{"actions":{"UndeterminedUser":{"runAfter":{},"type":"Response","kind":"Http","inputs":{"statusCode":200,"body":{"Email":"@{triggerBody()?['upn']}","Status":"0"}}}}},"expression":"@variables('ExternalUserStatus')","type":"Switch"},"Set_ExternalUserStatus":{"runAfter":{},"type":"SetVariable","inputs":{"name":"ExternalUserStatus","value":"@{actionBody('GetUser').value[0].externalUserState}"}}},"runAfter":{"GetUser":["Succeeded"]},"else":{"actions":{"SendUserNotExists":{"runAfter":{},"type":"Response","kind":"Http","inputs":{"statusCode":200,"body":{"Email":"@{triggerBody()?['upn']}","Status":"2"}}}}},"expression":"@equals(empty(body('GetUser').value), false)","type":"If"}},"runAfter":{},"type":"Scope"}},"runAfter":{"Check_if_Internal_User":["Succeeded"]},"else":{"actions":{"SendUserInternal":{"runAfter":{},"type":"Response","kind":"Http","inputs":{"statusCode":200,"body":{"Email":"@{triggerBody()?['upn']}","Status":"1"}}}}},"expression":"@equals(variables('IsInternalUser'), false)","type":"If"},"Initialize_IsInternalUser":{"runAfter":{"Initialize_userDomain":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"IsInternalUser","type":"Boolean","value":"@false"}]}},"Initialize_CurrentDomain":{"runAfter":{"Initialize_ExternalUserStatus":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"CurrentDomain","type":"String"}]}},"Initialize_userDomain":{"runAfter":{"Initialize_CurrentDomain":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"UserDomain","type":"String","value":"@{split(triggerBody()?['upn'], '@')[1]}"}]}},"Initialize_ExternalUserStatus":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"ExternalUserStatus","type":"String"}]},"description":"InternalUser = 1, DoesNotExist = 2, InvitationPending = 3, InvitationAccepted = 4, Undetermined = 0"}},"outputs":{}},"connectionReferences":{},"flowFailureAlertSubscribed":false}}