flow/Microsoft.Flow/flows/1251e752-7e2b-4d7c-ae67-beacf87f4eaa/definition.json
{"name":"085916b5-8b40-4a76-8b6c-ae30076dcba0","id":"/providers/Microsoft.Flow/flows/085916b5-8b40-4a76-8b6c-ae30076dcba0","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Onboarding Checker","definition":{"metadata":{"workflowEntityId":null,"creator":{"id":"7b011cb1-7e99-41a2-a1c8-667b4941fb4f","type":"User","tenantId":"3a4734f3-4f07-4e48-8b94-5d69837b3204"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2018-12-28T22:12:43.4349231Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Http","inputs":{"schema":{"$schema":"http://json-schema.org/draft-04/schema#","type":"object","properties":{"userAccessToken":{"type":"string"},"upn":{"type":"string"}},"required":["userAccessToken"]},"method":"POST"}}},"actions":{"Check_if_Internal_User":{"actions":{"GetDomains":{"runAfter":{},"type":"Http","inputs":{"method":"GET","uri":"https://graph.microsoft.com/beta/domains","headers":{"Authorization":"Bearer @{triggerBody()['userAccessToken']}"}}},"Apply_to_each":{"foreach":"@actionBody('GetDomains').value","actions":{"Condition":{"actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"IsInternalUser","value":"@true"}}},"runAfter":{"Set_variable_2":["Succeeded"]},"expression":"@equals(item().id, split(triggerBody()?['upn'], '@')[1])","type":"If"},"Set_variable_2":{"runAfter":{},"type":"SetVariable","inputs":{"name":"id","value":"@{item().id}"}}},"runAfter":{"GetDomains":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Initialize_variable_IsInternalUser":["Succeeded"]},"type":"Scope"},"Initialize_variable_IsInternalUser":{"runAfter":{"Initialize_variable_2":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"IsInternalUser","type":"Boolean","value":"@false"}]}},"If_Legitimate_User":{"actions":{"Check_B2B_User_Status":{"actions":{"GetUserDetails":{"runAfter":{},"type":"Http","inputs":{"method":"GET","uri":"https://graph.microsoft.com/beta/users/@{triggerBody()?['upn']}","headers":{"Authorization":"Bearer @{triggerBody()['userAccessToken']}"}}},"Switch":{"runAfter":{"GetUserDetails":["Succeeded"]},"cases":{"Case":{"case":"Accepted","actions":{}}},"default":{"actions":{}},"expression":"@body('GetUserDetails').externalUserState","type":"Switch"}},"runAfter":{"Response_2":["Succeeded"]},"type":"Scope"},"Response_2":{"runAfter":{"GetObjectIdByUserUPN":["Succeeded"]},"type":"Response","kind":"Http","inputs":{"statusCode":200,"body":{"Email":"@{triggerBody()?['upn']}","Status":"2"}}},"GetObjectIdByUserUPN":{"actions":{},"runAfter":{},"type":"Scope"}},"runAfter":{"Check_if_Internal_User":["Succeeded"]},"else":{"actions":{"Response":{"runAfter":{},"type":"Response","kind":"Http","inputs":{"statusCode":200,"body":{"Email":"@{triggerBody()?['upn']}","Status":"1"}}}}},"expression":"@equals(variables('IsInternalUser'), false)","type":"If"},"Initialize_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"id","type":"String"}]}},"Initialize_variable_2":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"userDomain","type":"String","value":"@{split(triggerBody()?['upn'], '@')[1]}"}]}}},"outputs":{}},"connectionReferences":{},"flowFailureAlertSubscribed":false}}